html{
	height: 100%;
}

body{
	background-color: #505050;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.draggable{
	position: absolute;
	top: 80px;
	left: 80px;
	border: 3px solid black;
	cursor: grab;
}


#bureau{
	background-color: #864C24;
	height:30%;
	width: 100%;
	position: absolute;
	top : 70%;
}

#mur_fond{
	background-color: #A73D27;
	height:30%;
	width: 100%;
	position: absolute;
	top : 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.block_pub{
	margin: 2%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.block_pub a img{
	display: block;
	width: 100%;

}

#block_porte{
	text-align: center;
	height: 100%;
}

#porte_close{
	height: 100%;
	left: 40%;
	top: 8%;
}
#porte_open{
	height: 100%;
	left: 40%;
	top: 8%;
}

#personne{
	position: relative;
	width: 5%;
	left: 42%;
	top: 8%;
}
#ID_card{
	background-color : #1040FF;
	border: 1px solid black
	width:10%;
	height:30%;
	padding : 10px;
	border-radius:15px;
	flex-direction: row;
	max-width: 18%;
	top: 100px;
	left: 150px;
	z-index: 2;
}

#profile{
	width: 20%;
	margin-right: 16px;
	margin-bottom: 10px;
	object-fit: cover;
}
figure{
	height:50%; /*container-width*/
	width: 20%;
	overflow:hidden; /*hide bounds of image */
	margin:0;   /*reset margin of figure tag*/
}
figure img{
	display:block; /*remove inline-block spaces*/
	width:100%; /*make image streatch*/
}
#profile{
	width: 15%;
}

#formulaire{
	background-color : #323D42;
	border: 1px solid black
	width:15%;
	height:30%;
	padding : 10px;
	border-radius:15px;
}

#Yes_no{
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 100px;
	background-color: yellow;
	color: #ffffff;
	position: absolute;
	bottom: 10%;
	right: -360px;
}

#Yes, #No{
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100%;
	text-align: center;
	right: -400px;
}

#Yes{
	background-color: #4CAF50;
}

#Yes:hover{
	background-color: #4CAF10;
	cursor: pointer;
}
#No:hover{
	background-color: #f44316;
	cursor: pointer;
}
#slide:hover{
	background-color: #555525;
	cursor: pointer;
}

#No{
	background-color: #f44336;
}
#slide{
	background-color: #555555;
}


