html{
height: 100%;
}

body{
	background-color: #505050;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.bureau{
	background-color: #864C24;
	height:30%;
	width: 100%;
	position: absolute;
	top : 70%;
}
