html{
height: 100%;
}

body{
	background-color: #505050;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.draggable{
	background-color: blue;
	height: 10%;
	width: 15%;
	position: absolute;
	top: 80px;
	left: 80px;
}


#bureau{
	background-color: #864C24;
	height:30%;
	width: 100%;
	position: absolute;
	top : 70%;
}

#mur_fond{
	background-color: #864C24;
	height:30%;
	width: 100%;
	position: absolute;
	top : 0;
}

#porte_close{
	position: relative;
	width: 10%;
	left: 40%;
	top: 8%;
}
#porte_open{
	position: relative;
	width: 15%;
	left: 35%;
	top: 8%;
}

#ID_card{
	display: flex;
	flex-direction: row;
}

#profile{
	width: 15%;
}